Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

Cherry-pick "tinycrypt update (#92)" from main to matter_1.0 (#97)
  matter/mbedtls/tinycrypt/CMakeLists.txt
  matter/mbedtls/tinycrypt/LICENSE
  matter/mbedtls/tinycrypt/README
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/psa/crypto_config.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

Revert "Adds fixes for RS9116 BLE changes (#93)"
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Cherry pick/rs9116 ble and nvm delay (#100)
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Add the bootloader binary for BRD2704A
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2704A-gsdk4.2.s37
Labels: matter, bootloaders

Add the bootloader binary for BRD2704A (#103)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2704A-gsdk4.2.s37
Labels: matter, bootloaders

Added changes for RS9116 BLE integration
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
Labels: matter

Added changes for RS9116 BLE integration (#104)
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
Labels: matter

add missing component for brd4186a
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
Labels: matter

Add missing NVM3 component for brd4186a (#105)
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
Labels: matter

Added changes for reoving of RS91X_BLE_ENABLE define and used SAPI define RSI_BLE_ENABLE define
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Added changes for RS9116 BLE (#106)
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Increasing the nvm page size for 917 SOC
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

SiWx917 SoC -Increasing the nvm page size for 917 SoC (#107)
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Removed BLE Scanner
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD2704A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
Labels: matter

Pin correction for MG24 BRD4187C for spi wakeup/sleep
  matter/efr32/efr32mg24/BRD4187C/config/brd4187c.h
Labels: matter

Add module lib
  protocol/openthread/libs/libsl_openthread_efr32mg2x_gcc.a
Labels: gsdk

Add module lib (#110)
  protocol/openthread/libs/libsl_openthread_efr32mg2x_gcc.a
Labels: gsdk

Pin correction for MG24 BRD4187C for spi wakeup sleep (#109)
  matter/efr32/efr32mg24/BRD4187C/config/brd4187c.h
Labels: matter

removed mbedtls pk rsa redefinition
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
Labels: matter

removed mbedtls pk rsa redefinition (#111)
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
Labels: matter

sleep and wakeup pin correction for the brd4186c
  matter/efr32/efr32mg24/BRD4186C/config/brd4186c.h
Labels: matter

[Sleepy] sleep and wakeup pin correction for the brd4186c (#112)
  matter/efr32/efr32mg24/BRD4186C/config/brd4186c.h
Labels: matter

fixing the pins for mg12 boards
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
Labels: matter

[Silabs]fixing the pins for mg12 boards (#113)
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
Labels: matter

pins corrections and nvm3 fix for the nvm3
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4162A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: matter, gsdk

[Silabs] Pins corrections for MG12 and nvm3 fix for the SoC power cycle (#114)
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4162A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: matter, gsdk

Addressed warnings for 917
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
Labels: matter, gsdk

Addressed warnings for 917SoC
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

Addressed restyle failures
  matter/mbedtls/tinycrypt/src/ecc.c
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: matter, gsdk

Adds space
  matter/mbedtls/tinycrypt/src/ecc.c
Labels: matter

moved comment to fix restyle issue
  matter/mbedtls/tinycrypt/src/ecc.c
Labels: matter

restlyled
  matter/mbedtls/tinycrypt/src/ecc.c
Labels: matter

[WiFi] removing build warnings for 917SoC (#115)
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: matter, gsdk

adding the include file
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
Labels: matter

SoC build fix :adding the include file (#116)
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
Labels: matter

Initialize NVM in sl_platform_init()
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
Labels: matter

Initialize NVM in sl_platform_init() (#117)
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
Labels: matter

Add bootloaders for BRD4318A and BRD4337A
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-1536k-BRD4337A-gsdk4.3.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4318A-gsdk4.3.s37
Labels: matter, bootloaders

Add bootloaders for BRD4318A and BRD4337A (#118)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-1536k-BRD4337A-gsdk4.3.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4318A-gsdk4.3.s37
Labels: matter, bootloaders

Added changed for new wifi sdk
  platform/emdrv/nvm3/src/ccp_flash_intf.c
Labels: gsdk
