Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

Added fix for mg24+Rs91x SPI
  matter/wifi/rs911x/hal/efx_spi_intf.c
Labels: matter, wifi, rs991x

Added fix for mg24+Rs91x SPI
  matter/wifi/rs911x/hal/efx_spi_intf.c
Labels: matter, wifi, rs991x

Adds fix for AP not found issue while commissioning (#21)
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

Added disconnection support from connected AP in RS911x and WF200
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, rs991x, wf200

Added disconnection support from connected AP in RS911x and WF200 (#23)
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, rs991x, wf200

Add restyled config
  .restyled.yaml
Labels: none

[Test] Add restyled config (#24)
  .restyled.yaml
Labels: none

Fixing the security type return for DGWIFI cluster
  matter/wifi/rs911x/rsi_if.c
Labels: matter, wifi, rs991x

Restyled by whitespace
  matter/wifi/rs911x/rsi_if.c
Labels: matter, wifi, rs991x

Restyled by clang-format
  matter/wifi/rs911x/rsi_if.c
Labels: matter, wifi, rs991x

Removing the values and using the constants/macros
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x

Restyled by clang-format
  matter/wifi/wfx_host_events.h
Labels: matter, wifi

Fixing the security type return for DGWIFI cluster for RS9116 (#25)
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x

Restyled by whitespace
  matter/efr32/efr32mg24/BRD2601B/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD2601B/config/pin_config.h
  matter/efr32/efr32mg24/BRD4186C/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_uartdrv_init.c
Labels: matter

Restyled by clang-format
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_led_instances.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
Labels: matter, wifi, rs991x

Added board configs for MG24 4186C and 4187C
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

Matter SDK Cleanup - Magic number removal
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Restyled by clang-format
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

Added board configs for MG24 4186C and 4187C (#31)
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

TASK Managaement refactor
  matter/wifi/ethernetif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/wf200_init.c
Labels: matter, wifi, rs991x, wf200

Hardcoded value removal : Review comment solved
  matter/wifi/dhcp_client.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Revert "Added board configs for MG24 4186C and 4187C (#31)"
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

removing wifi folder and move to src/platform
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/hal/wfx_host_pinout.h
  matter/wifi/rs911x/rs911x.gni
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_board.h
  matter/wifi/wf200/sl_wfx_configuration.h
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_host.h
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200.gni
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_msgs.h
  matter/wifi/wfx_notify.cpp
  matter/wifi/wifi_config.h
Labels: matter, wifi, rs991x, wf200

removing file rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

board files added in sdk_support
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
  matter/efr32/efr32mg21/BRD4180A/config/brd4180a.h
  matter/efr32/efr32mg24/BRD4186A/config/brd4186c.h
  matter/efr32/efr32mg24/BRD4187A/config/brd4187c.h
Labels: matter

Hal board init refactoring
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x, wf200

Hardcoded value removal : Review comment solved
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x, wf200

Added fix for ap not found issue on WF200
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

Restyled by whitespace
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

Add Support for BRD2703A
  matter/efr32/efr32mg24/BRD2703A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_instances.h
  matter/efr32/efr32mg24/BRD2703A/config/dmadrv_config.h
  matter/efr32/efr32mg24/BRD2703A/config/emlib_core_debug_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dpll_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_emu_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memory_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_sleeptimer_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/efr32mg24/BRD2703A/config/uartdrv_config.h
Labels: matter

Review Comment solved
  matter/wifi/ethernetif.cpp
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x

Code Cleanup: Review Comment solved
  matter/wifi/ethernetif.cpp
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Restyled by clang-format
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

Adds fix for AP not found issue while commissioning #21 (#38)
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

excludes generated files from formating
  .restyled.yaml
Labels: none

Restyled by whitespace
  .restyled.yaml
Labels: none

excludes generated files from formating
  .restyled.yaml
Labels: none

fix comments
  matter/efr32/efr32mg12/BRD4162A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4162A/config/uartdrv_config.h
Labels: matter

Fix Pin generation
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter
