Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

Update the 4319 bootloader, adjust the flash start address
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4319A-gsdk4.1.s37
Labels: matter, bootloaders

Update the BRD4319 bootloader, adjust the flash start address (#79)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4319A-gsdk4.1.s37
Labels: matter, bootloaders

Update the BRD4319 bootloader, adjust the flash start address (#79)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4319A-gsdk4.1.s37
Labels: matter, bootloaders

Cherry-pick bootloader update for BRD4319 (#80)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4319A-gsdk4.1.s37
Labels: matter, bootloaders

Add Segger init
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
Labels: matter

Remove bt rtos call from 1.0
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
Labels: matter

Remove bt rtos init call from 1.0 (#81)
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
Labels: matter

Added support for mg24 boards
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Delete unused OT librairies
  sl_openthread_cert_library/EFR32MG12/ot-ftd/libsl_platform_efr32mg12_gcc.a
  sl_openthread_cert_library/EFR32MG12/ot-mtd/libsl_platform_efr32mg12_gcc.a
  sl_openthread_cert_library/EFR32MG24/ot-ftd/libsl_platform_efr32mg24_gcc.a
  sl_openthread_cert_library/EFR32MG24/ot-mtd/libsl_platform_efr32mg24_gcc.a
Labels: openthread

board bring up for mg12 70A,63A,64A
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4163A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4164A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4170A/config/spidrv_config.h
Labels: matter

Delete unused OT librairies (#83)
  sl_openthread_cert_library/EFR32MG12/ot-ftd/libsl_platform_efr32mg12_gcc.a
  sl_openthread_cert_library/EFR32MG12/ot-mtd/libsl_platform_efr32mg12_gcc.a
  sl_openthread_cert_library/EFR32MG24/ot-ftd/libsl_platform_efr32mg24_gcc.a
  sl_openthread_cert_library/EFR32MG24/ot-mtd/libsl_platform_efr32mg24_gcc.a
Labels: openthread

MG12 63A/64A/70A Board bring up
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4163A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4164A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4170A/config/spidrv_config.h
Labels: matter

[EFR32] MG12 63A/64A/70A Board bring up (#85)
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4163A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4164A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4170A/config/spidrv_config.h
Labels: matter

Added changes for the EFR BLE
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

[EFR32] MG12 63A/64A/70A Board bring up (#85)
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4163A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4164A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4170A/config/spidrv_config.h
Labels: matter

Cherry-pick [EFR32] MG12 63A/64A/70A Board bring up (#85) (#86)
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4163A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4164A/config/spidrv_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg12/BRD4170A/config/spidrv_config.h
Labels: matter

CCP related changes for the NVM3
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

Restyled by whitespace
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Restyled by clang-format
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

comment block formatation caused by the bot
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

Restyled by clang-format
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/nvm3_default.c
Labels: gsdk

Updating the nvm3 folder based on the comments
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Restyled by whitespace
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Restyled by clang-format
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

CCP related changes for the NVM3 (#87)
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

CCP related changes for the NVM3 (#87)
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

CCP related changes for the NVM3 (#87) (#91)
  platform/emdrv/nvm3/inc/ccp_flash_intf.h
  platform/emdrv/nvm3/inc/ccp_flash_prg.h
  platform/emdrv/nvm3/inc/ecode.h
  platform/emdrv/nvm3/inc/em_core.h
  platform/emdrv/nvm3/inc/nvm3.h
  platform/emdrv/nvm3/inc/nvm3_default.h
  platform/emdrv/nvm3/inc/nvm3_hal.h
  platform/emdrv/nvm3/inc/nvm3_hal_flash.h
  platform/emdrv/nvm3/inc/nvm3_lock.h
  platform/emdrv/nvm3/inc/sl_assert.h
  platform/emdrv/nvm3/inc/sl_common.h
  platform/emdrv/nvm3/inc/sl_status.h
  platform/emdrv/nvm3/src/ccp_flash_dev.c
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/ccp_flash_prg.c
  platform/emdrv/nvm3/src/nvm3_default.c
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
  platform/emdrv/nvm3/src/nvm3_lock.c
Labels: gsdk

restyled issue resolve
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
Labels: matter

removed whitespace
  matter/mbedtls/tinycrypt/src/platform_util.c
Labels: matter

Restyled by clang-format
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

Restyled by clang-format
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/src/ecc.c
Labels: matter

Restyled by clang-format
  matter/mbedtls/tinycrypt/src/ecc.c
Labels: matter

tinycrypt update (#92)
  matter/mbedtls/tinycrypt/CMakeLists.txt
  matter/mbedtls/tinycrypt/LICENSE
  matter/mbedtls/tinycrypt/README
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/psa/crypto_config.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

tinycrypt update (#92)
  matter/mbedtls/tinycrypt/CMakeLists.txt
  matter/mbedtls/tinycrypt/LICENSE
  matter/mbedtls/tinycrypt/README
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/psa/crypto_config.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

Added delay in nvm3 open so that it doesn't disconnect
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Restyled by clang-format
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Adds fixes for RS9116 BLE changes (#93)
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Added delay in nvm3 open so that SiWx917 doesn't disconnect (#98)
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

Adds fixes for RS9116 BLE changes (#93)
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

Added delay in nvm3 open so that SiWx917 doesn't disconnect (#98)
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk
