Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

Restyled by clang-format
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
Labels: matter

Remove build_info workaround from the generated files (#218)
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

Add include for user config
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
Labels: matter

add comment
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
Labels: matter

Add include for user config as an SLC fix (#220)
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
Labels: matter

Add slc board generation script
  generate_boards.py
Labels: none

Board generation update
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD2608A/config/buffer_pool_allocator_config.h
  matter/efr32/efr32mg26/BRD2608A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4117A/config/buffer_pool_allocator_config.h
  matter/efr32/efr32mg26/BRD4117A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_i2cspm_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_i2cspm_instances.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4317A/config/sl_i2cspm_sensor_config.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_i2cspm_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_i2cspm_instances.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4318A/config/sl_i2cspm_sensor_config.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_custom_cli.c
Labels: matter

Update provision libs
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

update siwx917 generated files
  matter/si91x/siwx917/BRD4338A/autogen/RTE_Components.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_init_instances.h
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/emlib_core_debug_config.h
  matter/si91x/siwx917/BRD4338A/config/pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_config.h
Labels: matter

Restyled by autopep8
  generate_boards.py
Labels: none

fix 917 provision_lib
  matter/provision/lib/libProvision_si917.a
Labels: matter

Update LibProvision_si917 (#223)
  matter/provision/lib/libProvision_si917.a
Labels: matter

Moved si91x support files to common folder and removed config files which are not required in CSA
  matter/si91x/siwx917/BRD2605A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD2605A/config/sl_matter_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_matter_icd_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_matter_ota_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_matter_provision_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_matter_wifi_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_led_config.h
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
  matter/si91x/support/inc/system_si917.h
  matter/si91x/support/src/startup_common_RS1xxxx.c
Labels: matter

Updated efr32 internal boot loader binaries for brd4186c and brd4187c with corrected slotsize and address
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4186C-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4186C.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4187C-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4187C.s37
Labels: matter, bootloaders

Updated README.md file with corrected slot size and address
  matter/efr32/bootloader_binaries/README.md
Labels: matter, bootloaders

[EFR32] Updated bootloader binaries for brd4186c and brd4187c (#225)
  matter/efr32/bootloader_binaries/README.md
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4186C-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4186C.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4187C-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD4187C.s37
Labels: matter, bootloaders

removed slc related macros
  matter/si91x/siwx917/BRD4342A/autogen/sl_component_catalog.h
Labels: matter

Update libProvision_efr32mg24 for series 3 provisioning
  matter/provision/lib/libProvision_efr32mg24.a
Labels: matter

added all the libs
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Series 3 provisioning lib update (#227)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Update provision lib by removing usage of chipLogs in them
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Update provision lib by removing usage of chipLogs in them (#228)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Updated the API sl_si91x_button_isr for conflicting types
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Added SL_MBEDTLS_USE_TINYCRYPT around build_info.h file in sl_mbedtls_config.h as this is for tinycrypt
  matter/si91x/siwx917/BRD2605A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_mbedtls_config.h
Labels: matter

Reverted the change in sl_mbedtls_config.h as adding tinycrypt macro is not needed
  matter/si91x/siwx917/BRD2605A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_mbedtls_config.h
Labels: matter

Fix/build soc (#229)
  matter/si91x/siwx917/BRD2605A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_mbedtls_config.h
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Updated libraries built with Silabs Platform Abstraction Manager
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Provision SPAM (#230)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Adds the BTN0 wakeup source
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Update Si70xx define
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
Labels: matter

Update Si70xx sensor define (#231)
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
Labels: matter

Remove remaining defines
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
Labels: matter

Remove remaining USE_TEMP_SENSOR defines (#232)
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_event_handler.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
Labels: matter

Adds the BTN0 wakeup source
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Updated autogen files for brd4338a and brd4342a to resolve build errors with WiseConnect v3.3.3
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_led_instances.h
Labels: matter

Updated autogen to resolve build errors with WiseConnect v3.3.3
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_led_instances.h
Labels: matter

Adds the BTN0 wakeup source for SiWx917 (#233)
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Updated changes in autogen and config folders
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_init_led0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_init_led1_config.h
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4342A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_init_led0_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_init_led1_config.h
Labels: matter

[SiWx917] Update autogen files for SOC (#235)
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_init_led0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_init_led1_config.h
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4342A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4342A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_init_led0_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_led_init_led1_config.h
Labels: matter

Updated autogen and config files of brd2605a board with wifi_sdk_3.3.3
  matter/si91x/siwx917/BRD2605A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_led_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_rgb_led_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_rgb_led_instances.h
  matter/si91x/siwx917/BRD2605A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD2605A/config/pin_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_rgb_led_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_ulp_uart_config.h
Labels: matter

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']
