Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

autogen/config for latest GSDK4.4.2 (#182)
  matter/si91x/siwx917/BRD4338A/autogen/RTE_Components.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.c
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_configuration.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_control.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_timer_inst_config.h
Labels: matter

It is possible that the pkinfo of the used pk contect is uninitialized. Add a check to make sure it has a free function before calling it
  matter/mbedtls/tinycrypt/src/pk.c
Labels: matter

Add Null check for a function pointer that might not be set (#184)
  matter/mbedtls/tinycrypt/src/pk.c
Labels: matter

Add Null check for a function pointer that might not be set (#184)
  matter/mbedtls/tinycrypt/src/pk.c
Labels: matter

Add Null check for a function pointer that might not be set (#184) (#185)
  matter/mbedtls/tinycrypt/src/pk.c
Labels: matter

Add MBEDTLS_PSA_CRYPTO_C to SiWx917 autogen and config files
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

Add MBEDTLS_PSA_CRYPTO_C to SiWx917 autogen and config files
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

Cherry-pick #ifndef SL_MBEDTLS_USE_TINYCRYPT from develop/wifi (#187)
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

update openthread libs
  protocol/openthread/libs/libsl_openthread_efr32mg1x_gcc.a
  protocol/openthread/libs/libsl_openthread_efr32mg2x_gcc.a
Labels: gsdk

update bluetooth libs
  protocol/bluetooth/bgcommon/lib/libbgcommon_efr32xg12_gcc_release.a
  protocol/bluetooth/bgcommon/lib/libbgcommon_efr32xg12_iar_release.a
  protocol/bluetooth/bgcommon/lib/libbgcommon_efr32xg24_gcc_release.a
  protocol/bluetooth/bgcommon/lib/libbgcommon_efr32xg24_iar_release.a
  protocol/bluetooth/lib/EFR32XG12/GCC/binapploader.o
  protocol/bluetooth/lib/EFR32XG12/GCC/binapploader_nvm3.o
  protocol/bluetooth/lib/EFR32XG12/GCC/libbluetooth_mesh.a
  protocol/bluetooth/lib/EFR32XG12/GCC/libbtmesh_dfu_ncp_fw_list.a
  protocol/bluetooth/lib/EFR32XG12/GCC/libbtmesh_model_dfu.a
  protocol/bluetooth/lib/EFR32XG12/GCC/libbtmesh_model_mbt.a
  protocol/bluetooth/lib/EFR32XG12/GCC/libpsstore.a
  protocol/bluetooth/lib/EFR32XG12/IAR/binapploader.o
  protocol/bluetooth/lib/EFR32XG12/IAR/binapploader_nvm3.o
  protocol/bluetooth/lib/EFR32XG12/IAR/libbtmesh_dfu_ncp_fw_list.a
  protocol/bluetooth/lib/EFR32XG12/IAR/libbtmesh_model_dfu.a
  protocol/bluetooth/lib/EFR32XG12/IAR/libbtmesh_model_mbt.a
  protocol/bluetooth/lib/EFR32XG12/IAR/libpsstore.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libapploader.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbluetooth_mesh.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbtmesh_crypto_key_cache.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbtmesh_crypto_key_cache_dummy.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbtmesh_dfu_ncp_fw_list.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbtmesh_model_dfu.a
  protocol/bluetooth/lib/EFR32XG24/GCC/libbtmesh_model_mbt.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libapploader.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libbtmesh_crypto_key_cache.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libbtmesh_crypto_key_cache_dummy.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libbtmesh_dfu_ncp_fw_list.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libbtmesh_model_dfu.a
  protocol/bluetooth/lib/EFR32XG24/IAR/libbtmesh_model_mbt.a
  protocol/bluetooth/lib/libbluetooth_host_efr32xg12_gcc_release.a
  protocol/bluetooth/lib/libbluetooth_host_efr32xg12_iar_release.a
  protocol/bluetooth/lib/libbluetooth_host_efr32xg24_gcc_release.a
  protocol/bluetooth/lib/libbluetooth_host_efr32xg24_iar_release.a
Labels: gsdk

Add MBEDTLS_PSA_CRYPTO_C to SiWx917 autogen and config files (#186)
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

Added support for MBEDTLS_PSA_BUILTIN_ALG_SHA_256
  matter/si91x/siwx917/BRD4338A/autogen/sli_psa_builtin_config_autogen.h
Labels: matter

Remove unnecessary ble components
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD2704A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
Labels: matter

remove unnecessary crypto component
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4316A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4317A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4319A/autogen/sli_psa_config_autogen.h
Labels: matter

Add lp and ricardo to code owners
  .github/CODEOWNERS
Labels: none

Add lp and ricardo to code owners (#191)
  .github/CODEOWNERS
Labels: none

Refactors needed for M4 power save on SiWx917 (#177)
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/support/inc/sl_si91x_m4_ps.h
  matter/si91x/siwx917/BRD4338A/support/src/sl_si91x_m4_ps.c
Labels: matter

Refactors needed for M4 power save on SiWx917 (#177)
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/support/inc/sl_si91x_m4_ps.h
  matter/si91x/siwx917/BRD4338A/support/src/sl_si91x_m4_ps.c
Labels: matter

Refactors needed for M4 power save on SiWx917 (#192)
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/support/inc/sl_si91x_m4_ps.h
  matter/si91x/siwx917/BRD4338A/support/src/sl_si91x_m4_ps.c
Labels: matter

Added support for MBEDTLS_PSA_BUILTIN_ALG_SHA_256 (#189)
  matter/si91x/siwx917/BRD4338A/autogen/sli_psa_builtin_config_autogen.h
Labels: matter

PSA Crypto: Enabled compatibility with drivers V1 and V2.
  matter/efr32/efr32mg12/BRD4161A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4162A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4163A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4164A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4166A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4170A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4304A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD2601B/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD2703A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186C/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187C/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD2704A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4316A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4317A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4318A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4319A/config/psa_crypto_config.h
Labels: matter

PSA Crypto: Enabled compatibility with drivers V1 and V2. (#170)
  matter/efr32/efr32mg12/BRD4161A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4162A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4163A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4164A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4166A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4170A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4304A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD2601B/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD2703A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186C/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187C/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD2704A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4316A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4317A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4318A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4319A/config/psa_crypto_config.h
Labels: matter

PSA Mutex patch.
  platform/security/sl_component/sl_mbedtls_support/inc/threading_alt.h
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

Restyled by clang-format
  platform/security/sl_component/sl_mbedtls_support/inc/threading_alt.h
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

Restyled by clang-format
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

PSA Mutex patch.
  platform/security/sl_component/sl_mbedtls_support/inc/threading_alt.h
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

Restyled by clang-format
  platform/security/sl_component/sl_mbedtls_support/inc/threading_alt.h
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

changed pll clk frequency to 40mhz and reconfiguring systick clock
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

PSA Mutex patch. (#194)
  platform/security/sl_component/sl_mbedtls_support/inc/threading_alt.h
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

Added reference clock to 40MHZ
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

added comments
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Restyled by clang-format
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Add all headers to include directory
  platform/security/sl_component/sl_mbedtls_support/inc/aes_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ccm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/cmac_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ecjpake_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/gcm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/se_management.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha1_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha256_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha512_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_entropy_adc.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_mbedtls.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_crypto.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_values.h
  platform/security/sl_component/sl_mbedtls_support/inc/sli_psa_crypto.h
Labels: gsdk

restyle
  platform/security/sl_component/sl_mbedtls_support/inc/aes_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ccm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/cmac_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ecjpake_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/gcm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/se_management.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha1_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha256_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha512_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_entropy_adc.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_mbedtls.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_crypto.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_values.h
  platform/security/sl_component/sl_mbedtls_support/inc/sli_psa_crypto.h
Labels: gsdk

Restyled by clang-format
  platform/security/sl_component/sl_mbedtls_support/inc/aes_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ccm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/cmac_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/gcm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/se_management.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha256_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha512_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_entropy_adc.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_crypto.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_values.h
  platform/security/sl_component/sl_mbedtls_support/inc/sli_psa_crypto.h
Labels: gsdk

Add all headers in mbtedtls support include directory (#200)
  platform/security/sl_component/sl_mbedtls_support/inc/aes_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ccm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/cmac_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/ecjpake_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/gcm_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/se_management.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha1_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha256_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sha512_alt.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_entropy_adc.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_mbedtls.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_crypto.h
  platform/security/sl_component/sl_mbedtls_support/inc/sl_psa_values.h
  platform/security/sl_component/sl_mbedtls_support/inc/sli_psa_crypto.h
Labels: gsdk

Removed header file as it is not needed
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

[SiWx917] Added fixes for 917 SoC timer issue (#198)
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

add provision libs
  matter/provision/lib/libProvisionFlash_efr32mg12.a
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvision_efr32mg12.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

add provision libs (#202)
  matter/provision/lib/libProvisionFlash_efr32mg12.a
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvision_efr32mg12.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter
