Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

Review comments incorporation
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Restyled by whitespace
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Adding brd4162a support for wf200
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Adding brd4162a support for wf200 (#55)
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Adding wf200+mg24 support
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Restyled by whitespace
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Revert "Adding wf200+mg24 support"
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Restyled by whitespace
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Extra missing changes
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/wifi/brd4161a.h
Labels: matter, wifi

sdk support code cleaup changes
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

MG24 Cleanup
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
Labels: matter, wifi

Extra missing changes
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/wifi/brd4161a.h
Labels: matter, wifi

1. MG24 + WF200 changes 2. Missing Code Cleanup changes
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_spidrv_eusart_exp_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_spidrv_exp_config.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_spidrv_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_spidrv_instances.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_spidrv_eusart_exp_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_spidrv_exp_config.h
  matter/wifi/rs911x/hal/efx_spi.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, rs991x, wf200

ble new chnges
  matter/wifi/rs911x/BC4F5C.tmp:6E53BFF5-0001-412b-8407-E3AEDE763511
  matter/wifi/rs911x/hal/rsi_hal.h
  matter/wifi/rs911x/rs911x.gni
  matter/wifi/rs911x/rs911x.gni:6E53BFF5-0001-412b-8407-E3AEDE763511
  matter/wifi/rs911x/rsi_ble_config.h
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_if.c:6E53BFF5-0001-412b-8407-E3AEDE763511
  matter/wifi/rs911x/rsi_init.c
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x

sdk support code cleaup changes
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Restyled by clang-format
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x, wf200

Add Support for BRD4317A
  matter/efr32/mgm24/BRD4317A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4317A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4317A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_lfxo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4317A/config/uartdrv_config.h
Labels: matter

Add Support for BRD4317A (#65)
  matter/efr32/mgm24/BRD4317A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4317A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4317A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_lfxo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4317A/config/uartdrv_config.h
Labels: matter

Review Comment addressed and MG24 + WF200 modifications
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/config/sl_spidrv_exp_config.h
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Add Support for BRD4316A
  matter/efr32/mgm24/BRD4316A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4316A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4316A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_lfxo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4316A/config/uartdrv_config.h
Labels: matter

Add Support for BRD4316A (#66)
  matter/efr32/mgm24/BRD4316A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4316A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4316A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_lfxo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4316A/config/uartdrv_config.h
Labels: matter

Resolved review Comment
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/rs911x/hal/efx_spi.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, rs991x, wf200

Review comment solved
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Add Support for BRD4319A
  matter/efr32/mgm24/BRD4319A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4319A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4319A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4319A/config/uartdrv_config.h
Labels: matter

Fix potential LCD spotting on BRD4164A and BRD4187A when lcd screen is disabled
  matter/efr32/efr32mg12/BRD4164A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_board_control_config.h
Labels: matter

mapping rs9116 ble structure to efr ble structure
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x

Build error solved for BRD4187C and BRD4186C
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Fix potential LCD spotting on BRD4164A and BRD4187A when lcd screen is disabled (#67)
  matter/efr32/efr32mg12/BRD4164A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_board_control_config.h
Labels: matter

Add Support for BRD4319A (#69)
  matter/efr32/mgm24/BRD4319A/autogen/RTE_Components.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_bluetooth.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_board_default_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_device_init_clocks.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_uartdrv_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_uartdrv_instances.h
  matter/efr32/mgm24/BRD4319A/config/dmadrv_config.h
  matter/efr32/mgm24/BRD4319A/config/emlib_core_debug_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_debug_swo_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_emu_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_lfrco_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_pa_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_sleeptimer_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4319A/config/uartdrv_config.h
Labels: matter

IPv4 address log print Macro fixed
  matter/wifi/dhcp_client.cpp
Labels: matter, wifi

SDK support Wifi File movement to CSA repo
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
  matter/efr32/efr32mg24/BRD4186A/config/brd4186c.h
  matter/efr32/efr32mg24/BRD4186C/config/brd4186c.h
  matter/efr32/efr32mg24/BRD4187A/config/brd4187c.h
  matter/efr32/efr32mg24/BRD4187C/config/brd4187c.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rs911x.gni
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_board.h
  matter/wifi/wf200/sl_wfx_configuration.h
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_host.h
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200.gni
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_msgs.h
  matter/wifi/wfx_notify.cpp
  matter/wifi/wifi_config.h
Labels: matter, wifi, rs991x, wf200

Align Bluetooth generation for BRD4187C
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_bt_rtos_config.h
Labels: matter

Align Bluetooth generation for BRD2703A
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bt_rtos_config.h
Labels: matter

Align Bluetooth generation for BRD4186C
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_bt_rtos_config.h
Labels: matter

Align Bluetooth generation for BRD2601B
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/config/sl_bt_rtos_config.h
Labels: matter

Align Bluetooth generation for BRD4186A
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_bt_rtos_config.h
Labels: matter

Align Bluetooth generation for BRD4164A
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/config/sl_bt_rtos_config.h
Labels: matter

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']
