Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

wf200+MG24 bringup changes
  matter/wifi/brd4186c.h
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
Labels: matter, wifi, wf200

SDK Code cleaup patch - Refactor Task management API's - Added missing function headers - Removed commented codes - Removed inconsistency between code and comment
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

SDK Codecleanup
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Adds changes for WF200+MG24 board related file
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Adds changes for WF200+MG24 bring up
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Fix incorrect generation
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
Labels: matter

Code cleanup : Review comment addressed
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Remove external flash files
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
Labels: matter

HAL board init function refactoring
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_host.h
  matter/wifi/wf200/wf200_init.c
Labels: matter, wifi, rs991x, wf200

Add lfrco config file
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfrco_config.h
Labels: matter

Restyled by whitespace
  matter/efr32/efr32mg24/BRD2703A/autogen/RTE_Components.h
Labels: matter

Restyled by clang-format
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfrco_config.h
Labels: matter

Fix incorrect generation
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
Labels: matter

Add Support for BRD2703A
  matter/efr32/efr32mg24/BRD2703A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_instances.h
  matter/efr32/efr32mg24/BRD2703A/config/dmadrv_config.h
  matter/efr32/efr32mg24/BRD2703A/config/emlib_core_debug_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dpll_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_emu_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memory_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_sleeptimer_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/efr32mg24/BRD2703A/config/uartdrv_config.h
Labels: matter

Fix Pin generation
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

Add lfrco config file
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfrco_config.h
Labels: matter

Remove external flash files
  matter/efr32/efr32mg24/BRD2703A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_mx25_flash_shutdown_usart_config.h
Labels: matter

Add board support for BRD2703A (#48)
  matter/efr32/efr32mg24/BRD2703A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_instances.h
  matter/efr32/efr32mg24/BRD2703A/config/dmadrv_config.h
  matter/efr32/efr32mg24/BRD2703A/config/emlib_core_debug_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dpll_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_emu_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfrco_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memory_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_sleeptimer_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/efr32mg24/BRD2703A/config/uartdrv_config.h
Labels: matter

sdk support code cleaup changes (#46)
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Revert "sdk support code cleaup changes (#46)"
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Revert "sdk support code cleaup changes (#46)" (#50)
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

Review comments incorporation
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

new comments incorporated
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Restyled by whitespace
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Add bootloader binaries for BRD4163A, BRD2601B and BRD2703A
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2703A-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1.s37
Labels: matter, bootloaders

Add bootloader binaries for BRD4163A, BRD2601B and BRD2703A (#51)
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2703A-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1.s37
Labels: matter, bootloaders

Adds support for LWIP_IPV4 conditional flag
  matter/wifi/dhcp_client.cpp
  matter/wifi/ethernetif.cpp
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wfx_host_events.h
Labels: matter, wifi, rs991x, wf200

Add "combined" bootloaders for MG12 used the first time a device is programmed
  matter/efr32/bootloader_binaries/README.md
Labels: matter, bootloaders

Add "combined" bootloaders for MG12 used the first time a device is programmed
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4161A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4162A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4164A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4166A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4170A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4304A-gsdk4.1-combined.s37
Labels: matter, bootloaders

Add "combined" bootloaders for MG12 (#53)
  matter/efr32/bootloader_binaries/README.md
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4161A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4162A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4164A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4166A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4170A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4304A-gsdk4.1-combined.s37
Labels: matter, bootloaders

Align brd2703a event_handler file with the other mg24 boards. Remove unused/untested init calls for now
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
Labels: matter

Align brd2703a event_handler file with the other mg24 boards. (#54)
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
Labels: matter

resolving build error for mg12
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Adds changes for WF200+MG24 board related file
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Restyled by clang-format
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/sl_wfx_board.h
Labels: matter, wifi, wf200

Updating as per new review comments
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

new comments incorporated
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Chnages for MG12 and MG24 API IRQ
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200

Adds changes for WF200+MG24 bring up
  matter/wifi/brd4186c.h
  matter/wifi/brd4187c.h
  matter/wifi/wf200/efr_spi.c
Labels: matter, wifi, wf200
