Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

Adding bootloader binaries for Caracal boards
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD2608A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4116A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4117A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4118A.s37
Labels: matter, bootloaders

Adding bootloader binaries for Caracal boards (#203)
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD2608A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4116A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4117A.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4118A.s37
Labels: matter, bootloaders

Reverting M4 clock to 32mhz RC clock as XTAL clock is used by TA
  matter/si91x/siwx917/BRD4338A/support/hal/rsi_hal_mcu_m4.c
Labels: matter

remove SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD2601B/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD2703A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD4186A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD4186C/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD4187A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg24/BRD4187C/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg26/BRD2608A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg26/BRD4116A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg26/BRD4117A/config/SEGGER_RTT_Conf.h
  matter/efr32/efr32mg26/BRD4118A/config/SEGGER_RTT_Conf.h
  matter/efr32/mgm24/BRD2704A/config/SEGGER_RTT_Conf.h
  matter/efr32/mgm24/BRD4316A/config/SEGGER_RTT_Conf.h
  matter/efr32/mgm24/BRD4317A/config/SEGGER_RTT_Conf.h
  matter/efr32/mgm24/BRD4318A/config/SEGGER_RTT_Conf.h
  matter/efr32/mgm24/BRD4319A/config/SEGGER_RTT_Conf.h
Labels: matter

address comments
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.h
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_event_handler.h
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_event_handler.h
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_event_handler.h
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.h
Labels: matter

Restyled by whitespace
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_init.c
  matter/si91x/siwx917/BRD4338A/config/nvm3_default_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_configuration.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_control.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_stack_size_config.h
Labels: matter

Restyled by clang-format
  matter/si91x/siwx917/BRD4338A/autogen/RTE_Components.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_init.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_instances.h
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/SEGGER_RTT_Conf.h
  matter/si91x/siwx917/BRD4338A/config/emlib_core_debug_config.h
  matter/si91x/siwx917/BRD4338A/config/glib_config.h
  matter/si91x/siwx917/BRD4338A/config/nvm3_default_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_configuration.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_control.h
  matter/si91x/siwx917/BRD4338A/config/sl_core_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_memory_manager_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_memory_manager_region_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_btn0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_btn1_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_dma_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_stack_size_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_timer_common_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_timer_init_timer0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_sleeptimer_config.h
Labels: matter

removed duplicate define
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
Labels: matter

Restyled by whitespace
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_init.c
  matter/si91x/siwx917/BRD4338A/config/nvm3_default_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_configuration.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_control.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_stack_size_config.h
Labels: matter

Restyled by clang-format
  matter/si91x/siwx917/BRD4338A/autogen/RTE_Components.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_iostream_handles.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_init.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_ulp_timer_instances.h
  matter/si91x/siwx917/BRD4338A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD4338A/config/SEGGER_RTT_Conf.h
  matter/si91x/siwx917/BRD4338A/config/emlib_core_debug_config.h
  matter/si91x/siwx917/BRD4338A/config/glib_config.h
  matter/si91x/siwx917/BRD4338A/config/nvm3_default_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_configuration.h
  matter/si91x/siwx917/BRD4338A/config/sl_board_control.h
  matter/si91x/siwx917/BRD4338A/config/sl_core_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_memory_manager_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_memory_manager_region_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_net_default_values.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_btn0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_btn1_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_dma_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_stack_size_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_timer_common_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_timer_init_timer0_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_sleeptimer_config.h
Labels: matter

adding the autogen and config updated file for the 917 soc
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Restyled by whitespace
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
Labels: matter

Restyled by clang-format
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

removing the comment which caused restyler issue
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Restyled by clang-format
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

update provision libs using new sdks
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

update provision libs using new sdks (#210)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

remove 917 generated files from the restyler
  .restyled.yaml
Labels: none

Remove 917 generated files from the restyler (#211)
  .restyled.yaml
Labels: none

autogen and config update for power manager addition
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

adding only sleeptimer defines for icd
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
Labels: matter

Adding the autogen and config updated file for the 917 soc (#207)
  matter/si91x/siwx917/BRD4338A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_event_handler.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_init.h
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.c
  matter/si91x/siwx917/BRD4338A/autogen/sl_si91x_power_manager_wakeup_handler.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_config_3.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_power_manager_wakeup_source_config.h
Labels: matter

Add efr32mg26 provision libs
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvision_efr32mg26.a
Labels: matter

Add efr32mg26 provision libs (#212)
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvision_efr32mg26.a
Labels: matter

Add a new lib for 917 provision with PSA.
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
Labels: matter

Add a new lib for 917 provision with PSA. (#213)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
Labels: matter

clean up
  .properties
  README.md
  gecko_sdk.slcs
Labels: none

Add mld6 source file with include fix
  src/core/ipv6/mld6.c
Labels: none

Restyled by whitespace
  src/core/ipv6/mld6.c
Labels: none

Restyled by clang-format
  src/core/ipv6/mld6.c
Labels: none

Restyled by prettier-markdown
  README.md
Labels: none

Add mld6 source file to fix missing include (#214)
  .properties
  README.md
  gecko_sdk.slcs
  src/core/ipv6/mld6.c
Labels: none

Fix custom cli init
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_custom_cli.c
Labels: matter

Fix OT EM1 req
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_init.c
Labels: matter

WIP
  matter/mbedtls/tinycrypt/inc/tinycrypt/aes.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cbc_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ccm_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cmac_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/constants.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_platform_specific.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/sha256.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/utils.h
  matter/mbedtls/tinycrypt/src/aes_decrypt.c
  matter/mbedtls/tinycrypt/src/aes_encrypt.c
  matter/mbedtls/tinycrypt/src/cbc_mode.c
  matter/mbedtls/tinycrypt/src/ccm_mode.c
  matter/mbedtls/tinycrypt/src/cmac_mode.c
  matter/mbedtls/tinycrypt/src/ctr_mode.c
  matter/mbedtls/tinycrypt/src/ctr_prng.c
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/ecc_platform_specific.c
  matter/mbedtls/tinycrypt/src/hmac.c
  matter/mbedtls/tinycrypt/src/hmac_prng.c
  matter/mbedtls/tinycrypt/src/sha256.c
  matter/mbedtls/tinycrypt/src/utils.c
Labels: matter

WIP
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycript_util.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/utils.h
  matter/mbedtls/tinycrypt/src/cbc_mode.c
  matter/mbedtls/tinycrypt/src/cmac_mode.c
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/hmac.c
  matter/mbedtls/tinycrypt/src/hmac_prng.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/sha256.c
  matter/mbedtls/tinycrypt/src/tinycript_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

fix tab
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_init.c
Labels: matter

Fix OT Cli init and Power Manager req (#217)
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_ot_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD2608A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4116A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4117A/autogen/sl_ot_init.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_custom_cli.c
  matter/efr32/efr32mg26/BRD4118A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_ot_init.c
Labels: matter

Remove build_info workaround from the generated files
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
  matter/si91x/siwx917/BRD4338A/config/sl_mbedtls_config.h
Labels: matter

add comment
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
Labels: matter

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']
