Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']

Added nvm3 changes for new sdk
  platform/emdrv/nvm3/config/s0/nvm3_default_config.h
  platform/emdrv/nvm3/config/s1/nvm3_default_config.h
  platform/emdrv/nvm3/config/s2/nvm3_default_config.h
  platform/emdrv/nvm3/inc/em_core.h.bak
  platform/emdrv/nvm3/src/nvm3_default_common_linker.c
  platform/emdrv/nvm3/src/nvm3_hal_flash.c
Labels: gsdk

adding autogen file for the 917 soc
  matter/siwx917/BRD4325B/autogen/RTE_Components.h
Labels: matter

remove mbedtls related generated configs. We will use them on a futher release
  matter/efr32/efr32mg12/BRD4161A/autogen/mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/autogen/psa_crypto_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_mbedtls_config_transform_autogen.h
Labels: matter

remove extra #endif
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
Labels: matter

conditional include of catalog_uartdrv
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD2704A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
Labels: matter

add missing ifdef temp sensor
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
Labels: matter

Fix configs/missing files for mgm24s
  matter/efr32/mgm24/BRD2704A/config/sl_rail_util_rssi_config.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_rssi_config.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/config/sl_rail_util_rssi_config.h
Labels: matter

rail_util_rssi_config for brd4319A
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_rssi_config.h
Labels: matter

missing file for brd4317a
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_rssi_config.h
Labels: matter

missing file for brd4317A
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_rssi_config.h
Labels: matter

missing file for brd4317A (#121)
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_rssi_config.h
Labels: matter

Remove sl_swo_debug_init and sl_cos_init. swo_debug_init prevents the JTAG interface from working
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
Labels: matter

Remove sl_swo_debug_init and sl_cos_init. swo_debug_init prevents the… (#122)
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
Labels: matter

Restyled by whitespace
  matter/siwx917/BRD4325B/autogen/RTE_Components.h
Labels: matter

Restyled by clang-format
  matter/siwx917/BRD4325B/autogen/RTE_Components.h
  platform/emdrv/nvm3/config/s0/nvm3_default_config.h
  platform/emdrv/nvm3/config/s1/nvm3_default_config.h
  platform/emdrv/nvm3/config/s2/nvm3_default_config.h
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/nvm3_default_common_linker.c
  platform/emdrv/nvm3/src/nvm3_hal_flash.c
Labels: matter, gsdk

Removed .bak file and comments
  platform/emdrv/nvm3/inc/em_core.h.bak
  platform/emdrv/nvm3/src/ccp_flash_intf.c
  platform/emdrv/nvm3/src/nvm3_default_common_linker.c
Labels: gsdk

Add mg12 lib
  protocol/openthread/libs/libsl_openthread_efr32mg1x_gcc.a
Labels: gsdk

Add MG12 sl_openthread_lib (#125)
  protocol/openthread/libs/libsl_openthread_efr32mg1x_gcc.a
Labels: gsdk

update ot libs
  protocol/openthread/libs/libsl_openthread_efr32mg1x_gcc.a
  protocol/openthread/libs/libsl_openthread_efr32mg2x_gcc.a
Labels: gsdk

update BRD4186c generated files
  matter/efr32/efr32mg24/BRD4186C/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/config/nvm3_default_config.h
  matter/efr32/efr32mg24/BRD4186C/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_bt_rtos_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_rail_util_sequencer_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

fix PSA keys out of memory issue
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_config_autogen.h
Labels: matter

regenerate with updated slcp
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_mbedtls_config_autogen.h
Labels: matter

finish brd4186c configs
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4186C/config/nvm3_default_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_debug_swo_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_mbedtls_config.h
Labels: matter

update brd4161a generation
  matter/efr32/efr32mg12/BRD4161A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4161A/autogen/gatt_db.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

update brd4162a generated files
  matter/efr32/efr32mg12/BRD4162A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4162A/autogen/gatt_db.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

update brd4163a generated files
  matter/efr32/efr32mg12/BRD4163A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4163A/autogen/gatt_db.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

Update brd4164a generated files
  matter/efr32/efr32mg12/BRD4164A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4164A/autogen/gatt_db.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

update BRD4166A generated files
  matter/efr32/efr32mg12/BRD4166A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

Update BRD4170A generated files
  matter/efr32/efr32mg12/BRD4170A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/config/psa_crypto_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_uartdrv_usart_vcom_config.h
Labels: matter

update BRD2601B generated files
  matter/efr32/efr32mg24/BRD2601B/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD2601B/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_rail_util_sequencer_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

update BRD2704A generated files
  matter/efr32/mgm24/BRD2704A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_simple_led_instances.c
  matter/efr32/mgm24/BRD2704A/autogen/sl_simple_led_instances.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD2704A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_mbedtls_device_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_memory_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_rail_util_sequencer_config.h
  matter/efr32/mgm24/BRD2704A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

update BRD4187C generated files
  matter/efr32/efr32mg24/BRD4187C/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4187C/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_rail_util_sequencer_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

update BRD4316A generated files
  matter/efr32/mgm24/BRD4316A/autogen/gatt_db.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_i2cspm_init.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_i2cspm_instances.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4316A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4316A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/mgm24/BRD4316A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/mgm24/BRD4316A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4316A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_bt_rtos_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_i2cspm_sensor_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_mbedtls_device_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_rail_util_sequencer_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4316A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4316A/config/uartdrv_config.h
Labels: matter

update BRD4317A generated files
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_i2cspm_init.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_i2cspm_instances.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4317A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4317A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/mgm24/BRD4317A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/mgm24/BRD4317A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4317A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_bt_rtos_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_dcdc_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_i2cspm_sensor_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mbedtls_device_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mx25_flash_shutdown_eusart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_rail_util_sequencer_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4317A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

update BRD4318A generated files
  matter/efr32/mgm24/BRD4318A/autogen/psa_crypto_config_autogen.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_bluetooth.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_i2cspm_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_i2cspm_instances.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_custom_cli.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_init.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_ot_init.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_simple_button_instances.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4318A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_board_control_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_i2cspm_sensor_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_mbedtls_device_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_memlcd_usart_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_mx25_flash_shutdown_eusart_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_rail_util_pti_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_rail_util_sequencer_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4318A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4318A/config/uartdrv_config.h
Labels: matter

update BRD4319A generated files
  matter/efr32/mgm24/BRD4319A/autogen/sl_event_handler.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_simple_button_instances.c
  matter/efr32/mgm24/BRD4319A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4319A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/mgm24/BRD4319A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/mgm24/BRD4319A/autogen/sli_psa_config_autogen.h
  matter/efr32/mgm24/BRD4319A/config/psa_crypto_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_bluetooth_connection_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_device_init_hfxo_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_hfxo_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_mbedtls_device_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_power_manager_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_rail_util_sequencer_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn0_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_btn1_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_simple_button_config.h
  matter/efr32/mgm24/BRD4319A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/mgm24/BRD4319A/config/uartdrv_config.h
Labels: matter

update missing crypto configs
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4161A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD2601B/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4186C/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD4187C/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD2704A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD2704A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4316A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4316A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4317A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4317A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4318A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4318A/config/sl_mbedtls_config.h
  matter/efr32/mgm24/BRD4319A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/mgm24/BRD4319A/config/sl_mbedtls_config.h
Labels: matter

fix crypto gen
  matter/efr32/efr32mg12/BRD4161A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sli_mbedtls_config_autogen.h
Labels: matter

update BRD4186A generated files
  matter/efr32/efr32mg24/BRD4186A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4186A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_rail_util_sequencer_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD4186A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter

update BRD4187A generated files
  matter/efr32/efr32mg24/BRD4187A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_i2cspm_init.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_i2cspm_instances.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sli_mbedtls_config_autogen.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sli_mbedtls_config_transform_autogen.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sli_psa_builtin_config_autogen.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sli_psa_config_autogen.h
  matter/efr32/efr32mg24/BRD4187A/config/psa_crypto_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_i2cspm_sensor_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_mbedtls_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_mbedtls_device_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_memlcd_eusart_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_memory_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_mx25_flash_shutdown_eusart_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_rail_util_power_manager_init_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_rail_util_sequencer_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD4187A/config/sl_uartdrv_eusart_vcom_config.h
Labels: matter
