Repository SiliconLabs/sdk_support, changes with the labels that .github/labeler.yml gives for each.
All labels: matter, gsdk, openthread, wifi, rs991x, wf200, bootloaders, boards

[SiWx917] Update autogen files for brd2605a (#236)
  matter/si91x/siwx917/BRD2605A/autogen/sl_component_catalog.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_event_handler.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_button_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_button_instances.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_led_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_led_instances.h
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_rgb_led_instances.c
  matter/si91x/siwx917/BRD2605A/autogen/sl_si91x_rgb_led_instances.h
  matter/si91x/siwx917/BRD2605A/config/RTE_Device_917.h
  matter/si91x/siwx917/BRD2605A/config/pin_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_init_btn0_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_init_btn1_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_button_pin_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_led_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_rgb_led_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD2605A/config/sl_si91x_ulp_uart_config.h
Labels: matter

Removed unused files for SOC boards.
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD4338A/config/sl_si91x_ulp_uart_config.h
  matter/si91x/siwx917/BRD4343A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD4343A/config/sl_si91x_ulp_uart_config.h
Labels: matter

Removed unused files for brd4342a
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_ulp_uart_common_config.h
  matter/si91x/siwx917/BRD4342A/config/sl_si91x_ulp_uart_config.h
Labels: matter

Create scripts directory and move script
  scripts/generate_boards.py
Labels: none

WIP
  .vscode/settings.json
  scripts/array_script.py
  scripts/copy_librairies.py
Labels: none

Add copy libraries scripts
  scripts/array_script.py
  scripts/copy_librairies.py
Labels: none

delete vscode directory
  .vscode/settings.json
Labels: none

Update script
  scripts/generate_boards.py
Labels: none

Removing workaround since sdk file is fixed
  src/core/ipv6/mld6.c
Labels: none

Remove workaround for psa nvm3
  platform/security/sl_component/sl_psa_driver/src/sl_psa_its_nvm3.c
Labels: gsdk

Add radio workaround
  protocol/openthread/platform-abstraction/efr32/radio.c
Labels: gsdk

Regen provision Libs inline with changes from UniqueId to PersistentUniqueId
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Regen provision Libs inline with changes from UniqueId to PersistentU… (#239)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Add modified sl net lwip file
  components/service/network_manager/src/sl_net_for_lwip.c
Labels: none

Add modified sl net lwip file for Wi-Fi refactor (#240)
  components/service/network_manager/src/sl_net_for_lwip.c
Labels: none

Update sl_net_for_lwip.c
  components/service/network_manager/src/sl_net_for_lwip.c
Labels: none

Update sl_net_for_lwip.c source file to work with Wiseconnect 3.4.0 (#241)
  components/service/network_manager/src/sl_net_for_lwip.c
Labels: none

Resolved init failure for 917NCP
  components/service/network_manager/src/sl_net_for_lwip.c
Labels: none

WIP
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycript_util.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/utils.h
  matter/mbedtls/tinycrypt/src/cbc_mode.c
  matter/mbedtls/tinycrypt/src/cmac_mode.c
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/hmac.c
  matter/mbedtls/tinycrypt/src/hmac_prng.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/sha256.c
  matter/mbedtls/tinycrypt/src/tinycript_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

WIP
  matter/mbedtls/tinycrypt/inc/tinycrypt/aes.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cbc_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ccm_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cmac_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/constants.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_platform_specific.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/sha256.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/utils.h
  matter/mbedtls/tinycrypt/src/aes_decrypt.c
  matter/mbedtls/tinycrypt/src/aes_encrypt.c
  matter/mbedtls/tinycrypt/src/cbc_mode.c
  matter/mbedtls/tinycrypt/src/ccm_mode.c
  matter/mbedtls/tinycrypt/src/cmac_mode.c
  matter/mbedtls/tinycrypt/src/ctr_mode.c
  matter/mbedtls/tinycrypt/src/ctr_prng.c
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/ecc_platform_specific.c
  matter/mbedtls/tinycrypt/src/hmac.c
  matter/mbedtls/tinycrypt/src/hmac_prng.c
  matter/mbedtls/tinycrypt/src/sha256.c
  matter/mbedtls/tinycrypt/src/utils.c
Labels: matter

Added fix for mbedTLS 3.x
  matter/mbedtls/tinycrypt/src/ecc_dh.c
Labels: matter

Update mbedTLS configuration
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4342A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4343A/autogen/sli_mbedtls_config_autogen.h
Labels: matter

WIP: add missing platform functions
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycrypt_util.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pk_wrap.h
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/tinycrypt_util.c
  matter/mbedtls/tinycrypt/src/utils.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

WIP: compilation working
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycrypt_util.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/tinycrypt_util.c
Labels: matter

WIP
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycrypt_util.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/tinycrypt_util.c
Labels: matter

Pending cleanup of files
  matter/mbedtls/tinycrypt/inc/tinycrypt/constants.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_platform_specific.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/utils.h
  matter/mbedtls/tinycrypt/src/ecc_platform_specific.c
  src/core/ipv6/mld6.c
Labels: matter

Initial commit
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/aes.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cbc_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ccm_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/cmac_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_mode.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ctr_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/hmac_prng.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/sha256.h
  matter/mbedtls/tinycrypt/src/aes_decrypt.c
  matter/mbedtls/tinycrypt/src/aes_encrypt.c
  matter/mbedtls/tinycrypt/src/cbc_mode.c
  matter/mbedtls/tinycrypt/src/ccm_mode.c
  matter/mbedtls/tinycrypt/src/cmac_mode.c
  matter/mbedtls/tinycrypt/src/ctr_mode.c
  matter/mbedtls/tinycrypt/src/ctr_prng.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/hmac.c
  matter/mbedtls/tinycrypt/src/hmac_prng.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pk_wrap.h
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/tinycrypt_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
Labels: matter

Add mld6 source file to fix missing include (#214)
  src/core/ipv6/mld6.c
Labels: none

Address comments
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycrypt_util.h
Labels: matter

Update Tinycrypt for mbedTLS 3.x support (#243)
  matter/mbedtls/tinycrypt/inc/mbedtls/check_config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/config.h
  matter/mbedtls/tinycrypt/inc/mbedtls/oid.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
  matter/mbedtls/tinycrypt/inc/mbedtls/pk_internal.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform.h
  matter/mbedtls/tinycrypt/inc/mbedtls/platform_util.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dh.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/ecc_dsa.h
  matter/mbedtls/tinycrypt/inc/tinycrypt/tinycrypt_util.h
  matter/mbedtls/tinycrypt/src/ecc.c
  matter/mbedtls/tinycrypt/src/ecc_dh.c
  matter/mbedtls/tinycrypt/src/ecc_dsa.c
  matter/mbedtls/tinycrypt/src/error.c
  matter/mbedtls/tinycrypt/src/oid.c
  matter/mbedtls/tinycrypt/src/pk.c
  matter/mbedtls/tinycrypt/src/pk_wrap.c
  matter/mbedtls/tinycrypt/src/pkparse.c
  matter/mbedtls/tinycrypt/src/pkwrite.c
  matter/mbedtls/tinycrypt/src/platform_util.c
  matter/mbedtls/tinycrypt/src/tinycrypt_util.c
  matter/mbedtls/tinycrypt/src/x509_crt.c
  matter/mbedtls/tinycrypt/src/x509write_csr.c
  matter/si91x/siwx917/BRD4338A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4342A/autogen/sli_mbedtls_config_autogen.h
  matter/si91x/siwx917/BRD4343A/autogen/sli_mbedtls_config_autogen.h
Labels: matter

Remove unused Tinycrypt build_info and PSA crypto configuration headers
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
  matter/mbedtls/tinycrypt/inc/psa/crypto_config.h
Labels: matter

Remove unused Tinycrypt build_info and PSA crypto configuration headers (#244)
  matter/mbedtls/tinycrypt/inc/mbedtls/build_info.h
  matter/mbedtls/tinycrypt/inc/psa/crypto_config.h
Labels: matter

Added SL_CATALOG_SIMPLE_BUTTON_PRESENT macro where button code present
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Provision: Dynamic buffer allocation support.
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Provision: Dynamic buffer allocation support.
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

Provision: Dynamic buffer allocation support. (#246)
  matter/provision/lib/libProvisionFlash_efr32mg24.a
  matter/provision/lib/libProvisionFlash_efr32mg26.a
  matter/provision/lib/libProvisionFlash_mgm24.a
  matter/provision/lib/libProvisionPSA_si917.a
  matter/provision/lib/libProvision_efr32mg24.a
  matter/provision/lib/libProvision_efr32mg26.a
  matter/provision/lib/libProvision_mgm24.a
  matter/provision/lib/libProvision_si917.a
Labels: matter

[TEMP] Adds file for RS9116 UULP wake up fix
  matter/si91x/support/src/rsi_spi_iface_init.c
Labels: matter

Added SL_CATALOG_SIMPLE_BUTTON_PRESENT macro where button code present
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Fix 917 SoC build if button component disabled (#245)
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

Added sl_component_catalog header in rsi_hal_m4_hal_m4.c file
  matter/si91x/support/hal/rsi_hal_mcu_m4.c
Labels: matter

.github/labeler.yml:

# Add 'matter' to any changes within 'matter' folder or any subfolders
matter: 
- matter/**/*

# Add 'gsdk' to any file changes within 'proctocal' and 'platform' folder
gsdk: 
- protocol/**/*
- platform/**/*

# Add 'openthread' to any changes within 'openthread' folder or any subfolders
openthread:
- sl_openthread_cert_library/**/*

wifi:
- matter/wifi/**/*

rs991x:
- matter/wifi/rs911x/**/*

wf200:
- matter/wifi/wf200/**/*

bootloaders:
- matter/efr32/bootloader_binaries/**/*

boards:
- any: ['matter/efr32', '!matter/efr32/bootloader_binaries/*']
