Repository SiliconLabs/sdk_support, pull requests merged in 2022-08, with the labels that each got.

#21 Adds fix for AP not found issue while commissioning
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

#23 Added disconnection support from connected AP in RS911x and WF200
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/wfx_rsi.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, rs991x, wf200

#31 Added board configs for MG24 4186C and 4187C
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

#38 Adds fix for AP not found issue while commissioning #21
  matter/wifi/wf200/host_if.cpp
Labels: matter, wifi, wf200

#41 Add brd4162A
  .restyled.yaml
  matter/efr32/efr32mg12/BRD4162A/.DS_Store
  matter/efr32/efr32mg12/BRD4162A/autogen/.DS_Store
  matter/efr32/efr32mg12/BRD4162A/autogen/RTE_Components.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_uartdrv_instances.h
  matter/efr32/efr32mg12/BRD4162A/config/.DS_Store
  matter/efr32/efr32mg12/BRD4162A/config/dmadrv_config.h
  matter/efr32/efr32mg12/BRD4162A/config/emlib_core_debug_config.h
  matter/efr32/efr32mg12/BRD4162A/config/pin_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_board_control_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_device_init_emu_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_memlcd_usart_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_memory_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_mx25_flash_shutdown_usart_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_power_manager_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_rail_util_rssi_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_button_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_sleeptimer_config.h
  matter/efr32/efr32mg12/BRD4162A/config/sl_uartdrv_usart_vcom_config.h
  matter/efr32/efr32mg12/BRD4162A/config/uartdrv_config.h
  matter/wifi/brd4161a.h
  matter/wifi/rs911x/hal/rsi_board_configuration.h
Labels: matter, wifi, rs991x

#48 Add board support for BRD2703A
  matter/efr32/efr32mg24/BRD2703A/autogen/RTE_Components.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_board_default_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_device_init_clocks.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_button_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_simple_led_instances.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_init.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_uartdrv_instances.h
  matter/efr32/efr32mg24/BRD2703A/config/dmadrv_config.h
  matter/efr32/efr32mg24/BRD2703A/config/emlib_core_debug_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_advertiser_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_bluetooth_connection_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_board_control_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dcdc_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_dpll_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_emu_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_hfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfrco_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_device_init_lfxo_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_hfxo_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_memory_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_power_manager_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pa_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_rail_util_pti_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_btn1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_button_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led0_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_simple_led_led1_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_sleeptimer_config.h
  matter/efr32/efr32mg24/BRD2703A/config/sl_uartdrv_eusart_vcom_config.h
  matter/efr32/efr32mg24/BRD2703A/config/uartdrv_config.h
Labels: matter

#46 sdk support code cleaup changes
  matter/wifi/brd4161a.h
  matter/wifi/brd4180a.h
  matter/wifi/dhcp_client.cpp
  matter/wifi/dhcp_client.h
  matter/wifi/ethernetif.cpp
  matter/wifi/ethernetif.h
  matter/wifi/lwip_netif.cpp
  matter/wifi/rs911x/hal/efx_spi_intf.c
  matter/wifi/rs911x/hal/rsi_board_configuration.h
  matter/wifi/rs911x/hal/rsi_hal_mcu_interrupt.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_ioports.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_rtc.c
  matter/wifi/rs911x/hal/rsi_hal_mcu_timer.c
  matter/wifi/rs911x/rsi_if.c
  matter/wifi/rs911x/rsi_wlan_config.h
  matter/wifi/rs911x/wfx_rsi_host.c
  matter/wifi/rs911x/wfx_rsidev.c
  matter/wifi/wf200/efr_gpio.c
  matter/wifi/wf200/efr_spi.c
  matter/wifi/wf200/host_if.cpp
  matter/wifi/wf200/sl_wfx_crypto.c
  matter/wifi/wf200/sl_wfx_securelink_task.c
  matter/wifi/wf200/sl_wfx_task.c
  matter/wifi/wf200/sl_wfx_task.h
  matter/wifi/wf200/wf200_init.c
  matter/wifi/wfx_host_events.h
  matter/wifi/wfx_notify.cpp
Labels: matter, wifi, rs991x, wf200

#51 Add bootloader binaries for BRD4163A, BRD2601B and BRD2703A
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2703A-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD2601B-gsdk4.1.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1.s37
Labels: matter, bootloaders

#53 Add "combined" bootloaders for MG12
  matter/efr32/bootloader_binaries/README.md
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4161A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4162A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4163A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4164A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4166A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4170A-gsdk4.1-combined.s37
  matter/efr32/bootloader_binaries/bootloader-storage-spiflash-single-1024k-BRD4304A-gsdk4.1-combined.s37
Labels: matter, bootloaders

#54 Align brd2703a event_handler file with the other mg24 boards.
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
Labels: matter
