Repository SiliconLabs/sdk_support, pull requests merged in 2023-03, with the labels that each got.

#110 Add module lib
  protocol/openthread/libs/libsl_openthread_efr32mg2x_gcc.a
Labels: gsdk

#109 Pin correction for MG24 BRD4187C for spi wakeup sleep
  matter/efr32/efr32mg24/BRD4187C/config/brd4187c.h
Labels: matter

#111 removed mbedtls pk rsa redefinition
  matter/mbedtls/tinycrypt/inc/mbedtls/pk.h
Labels: matter

#112 [Sleepy] sleep and wakeup pin correction for the brd4186c
  matter/efr32/efr32mg24/BRD4186C/config/brd4186c.h
Labels: matter

#113 [Silabs]fixing the pins for mg12 boards
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
Labels: matter

#114 [Silabs] Pins corrections for MG12 and nvm3 fix for the SoC power cycle
  matter/efr32/efr32mg12/BRD4161A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4162A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4163A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4164A/config/brd4161a.h
  matter/efr32/efr32mg12/BRD4170A/config/brd4161a.h
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: matter, gsdk
