Repository SiliconLabs/sdk_support, pull requests merged in 2023-02, with the labels that each got.

#103 Add the bootloader binary for BRD2704A
  matter/efr32/bootloader_binaries/bootloader-storage-internal-single-512k-BRD2704A-gsdk4.2.s37
Labels: matter, bootloaders

#104 Added changes for RS9116 BLE integration
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
Labels: matter

#106 Added changes for RS9116 BLE
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_event_handler.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_event_handler.c
Labels: matter

#107 SiWx917 SoC -Increasing the nvm page size for 917 SoC
  platform/emdrv/nvm3/src/nvm3_hal_flash_ccp.c
Labels: gsdk

#108 Pre-gen cleanup
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4161A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4161A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4162A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4162A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4163A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4163A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4164A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4164A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4166A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4166A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4170A/autogen/sl_event_handler.c
  matter/efr32/efr32mg12/BRD4170A/config/app_assert_config.h
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg12/BRD4304A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg12/BRD4304A/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD2601B/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2601B/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD2703A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD2703A/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4186A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186A/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4186C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4186C/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4187A/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187A/config/app_assert_config.h
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_bluetooth.c
  matter/efr32/efr32mg24/BRD4187C/autogen/sl_component_catalog.h
  matter/efr32/efr32mg24/BRD4187C/config/app_assert_config.h
  matter/efr32/mgm24/BRD2704A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD2704A/config/app_assert_config.h
  matter/efr32/mgm24/BRD4316A/autogen/sl_bluetooth.c
  matter/efr32/mgm24/BRD4316A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4316A/config/app_assert_config.h
  matter/efr32/mgm24/BRD4317A/autogen/sl_bluetooth.c
  matter/efr32/mgm24/BRD4317A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4317A/config/app_assert_config.h
  matter/efr32/mgm24/BRD4318A/autogen/sl_bluetooth.c
  matter/efr32/mgm24/BRD4318A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4318A/config/app_assert_config.h
  matter/efr32/mgm24/BRD4319A/autogen/sl_bluetooth.c
  matter/efr32/mgm24/BRD4319A/autogen/sl_component_catalog.h
  matter/efr32/mgm24/BRD4319A/config/app_assert_config.h
Labels: matter
